@import '../abstracts/variables';

.main__btn {
    border: none;
    border-radius: 50px;
    background: $main-color;
    padding: 10px 30px;
    color: #FFF;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    &::after {
        content: '';
        width: 23px;
        height: 21px;
        background-image: url(../../img/icons/arrow_right.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}