@import '../abstracts/variables';

.link {
    text-align: center;
    padding: 15px 40px;
    border-radius: 50px;
    background: #FFF;
    color: $main-color;
    font-family: Gilroy-Medium;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;

    @media (min-width:$bp-sm) {
        font-size: 18px;
    }

    @media (min-width:$bp-xl) {
        font-size: 17px;
    }
}