@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import '../abstracts/variables';

body {
    background-color: $main-bg;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
}

.container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}