@import '../abstracts/variables';

h2 {
    color: $main-color;
    text-align: center;
    font-family: Gilroy-Light;
    font-size: 55px;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase; 

    @media (min-width:$bp-md) {
        font-size: 130px;
    }

    @media (min-width:$bp-xl) {
        font-size: 150px;
    }
}

h3 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; 

    @media (min-width:$bp-sm) {
        font-size: 35px;
    }

    @media (min-width:$bp-md) {
        font-size: 40px;
    }
}