@import '../abstracts/variables';

@mixin line{
    content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: -70px;
            background-color: $main-color;
}