@import '../abstracts/variables';
@import '../abstracts/mixin';

.clients {
    position: relative;
    margin-top: 60px;

    &::before {
        @include line;
        top: -30px;
    }


}


.clients__content {
    margin-top: 30px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width:$bp-xl) {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        gap: unset;
        justify-content: center;

        
    }

    @media (min-width:$bp-xl) {
        max-width: 1920px;

        
    }

    
}





.client-box {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media(min-width:$bp-xl) {
        padding: 30px;
        width: 345px;
        height: 500px;

        &:nth-child(1) {
            border-right: 1px solid black; 
            border-bottom: 1px solid black;  
        }
        &:nth-child(2) {
            border-right: 1px solid black;  
            border-bottom: 1px solid black;  
        }
        &:nth-child(3) {
            border-bottom: 1px solid black;  
        }
        &:nth-child(4) {
            border-right: 1px solid black;  
        }
        &:nth-child(5) {
            border-right: 1px solid black;  
        }
        
    }

    @media (min-width:$bp-xxl) {
        height: 567px;
        width: 567px;
    }

    &::after {
        content: '';
        border-bottom: 1px solid #252525;
        @media (min-width:$bp-xl) {
            border: none;
        }
    }

    &:last-of-type::after {
        border: none
    }

}

.client-box__image1 {
    width: 180.861px;
    height: 35.555px;
}

.client-box__image2 {
    width: 149.983px;
    height: 35.72px;
}

.client-box__image3 {
    width: 151.861px;
    height: 34.2px;
}


.client-box__image4 {
    width: 174.413px;
    height: 35px;
}

.client-box__image5 {
    width: 84.097px;
    height: 40px;
}

.client-box__image6 {
    width: 150.138px;
    height: 35px;
}


.details-of-clients {
    display: flex;
    align-items: center;
    gap: 20px;


    img {
        width: 70px;
        height: 70px;
        border-radius: 40px;


    }


    .details-of-clients__name {
        font-weight: 600;
        color: #000;
        font-family: Inter;
        font-size: 20px;
        line-height: 20px;
    }


    .details-of-clients__text {
        font-weight: 400;
        color: #000;
        font-family: Inter;
        font-size: 14px;
        line-height: 20px;

        @media (min-width:$bp-sm) {
            font-size: 20px;
        }
    }
}

.client__position {
    color: #333;
    font-family: Gilroy-Bold;
    font-size: 25px;
    font-weight: 800;
    align-self: stretch;

    @media (min-width:$bp-sm) {
        font-size: 40px;
    }

    @media (min-width:$bp-xl) {
        font-size: 25px;
    }

    @media (min-width:$bp-xxl) {
        font-size: 40px;
        line-height: 44px;
    }
}

.client__descr {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    @media (min-width:$bp-xxl) {
        line-height: 30px;
    }
}

.clients__name {
    display: flex;
    flex-direction: column;
    gap: 10px;


}