@import '../abstracts/variables';


.contact {
    padding: 30px 0px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-top: 1px solid #252525;
    align-items: center;
    position: relative;
    &::before {
        @include line;
        top: 0px;
        
    }


    @media(min-width:$bp-md) {
        gap: 40px;
    }


    @media(min-width:$bp-xl) {
        padding: 50px 0px 100px;
        flex-direction: row;
        align-items: flex-start;
        /* width: 1780px; */
    

        h2 {
            font-size: 100px;
        }
    }

    @media(min-width:$bp-xxl) {
        h2 {
            font-size: 150px;
        }
    }
}


.contact__main {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 30px;
    align-items: center;
    color: #252525;
    text-align: center;

    @media(min-width:$bp-md) {
        padding: 0 30px;
    }

    @media(min-width:$bp-xl) {
        align-items: flex-start;
        text-align: left;
    }

    button {
        // width: 100%;

        @media(min-width:$bp-md) {
            width: 195px;
        }
    }

    p {
        font-family: Gilroy-Bold;
        font-size: 40px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        align-self: stretch;


    }

    span {
        align-self: stretch;
        font-family: Gilroy-Medium;
        font-size: 30px;
        font-weight: 400;
        line-height: normal;
    }


}