@import '../abstracts/variables';

footer {
   padding-bottom: 20px;
    margin: 0 auto;
    position: relative;
    &::before {
        @include line;
        top: -10px;
        @media (min-width:$bp-xl) {
            top: -50px;
        }
    }

    @media (min-width:$bp-md){
        padding-bottom: 30px;
    }

    @media (min-width:$bp-xl){
        padding-bottom: 40px;
    }
}

.footer__main {
    color: #333;
    font-family: Gilroy-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
 
    @media (min-width:$bp-md) {
        flex-direction:row;
        justify-content: space-between;
    }

    @media (min-width:$bp-xl) {
        margin-right: auto;
        margin-left: auto;
        max-width: 1200px;
        padding: 0 60px;
    }

    @media (min-width:$bp-xxl) {
        max-width: 1920px;
    }

    span {
        text-align: center;
    }
}