@import '../abstracts/variables';

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    z-index: 100;
    @media (min-width:$bp-md) {
        margin-top: 40px;
    }
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;

    @media (min-width:$bp-md) {
        padding: 0px 30px;
    }

    @media (min-width:$bp-xl) {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
}

.main__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__img {
    height: 35px;
}
.logo__text {
    display: none;

    @media (min-width:$bp-md) {
        display: inline-block;
    }
}

.header__btn {
    color: $main-color;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background: none;
}