@import '../abstracts/variables';
@import '../abstracts/mixin';
.logo {
    position: relative;
    &::after {
        @include line;
        top: unset;
        bottom: -30px;
        @media(min-width:$bp-md) {
            bottom: -40px;
        }

        @media(min-width:$bp-xl) {
            bottom: -70px;
        }
    }
}
.logo__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    @media (min-width:$bp-sm) {
        padding-right: 20px;
        padding-left: 20px;
    }

    @media (min-width:$bp-md) {
        margin-top: 40px;
        padding-right: 30px;
        padding-left: 30px;
    }

    @media (min-width:$bp-xl) {
        margin-top: 140px;
        padding-right: 70px;
        padding-left: 70px;
        position: relative;
        &::before {
            @include line;
        }
    }
    
   
}
