@import '../abstracts/variables';

.name {
    margin-top: 85px;

    @media (min-width:$bp-md) {
        margin-top: 171px;
    }
}

h1 {
    color: $main-color;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 36px;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        background-image: url(../../img/icons/arrow_down.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 40px;
        width: 25px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -60px;

    }

    & span {
        font-family: Gilroy-Light;
        line-height: normal;
        text-transform: capitalize;
    }

    @media (min-width:$bp-sm) {
        font-size: 57px;
    }

    @media (min-width:$bp-md) {
        font-size: 90px;
    }

    @media (min-width:$bp-lg) {
        font-size: 120px;
    }

    @media (min-width:$bp-xl) {
        font-size: 150px;
    }
}