@import '../abstracts/variables';

.promo {
    margin-top: 64px;


    @media (min-width:$bp-md) {
        margin-top: 110px;  
    }

    @media (min-width:$bp-xl) {
        margin-top: 120px;  
    }

}

.promo__img {
    width: 100%;
    height: 638px;
    object-fit: cover;
    display: block;

    @media (min-width:$bp-md) {
        height: 956px;
    }
    @media (min-width:$bp-xl) {
        max-width: 1920px; 
        margin-right: auto;
        margin-left: auto;
    }

}

.about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:$bp-xl) {
        flex-direction: row;
        margin: 70px 0 0 40px;
        gap: 40px;
    }

    @media (min-width:$bp-xxl) {
        flex-direction: row;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        gap: 70px;
        max-width: 1920px;
    }
}

.promo__descr {
    color: $main-color;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 20px;
    line-height: normal;
    margin: 20px 20px;

    & span {
        font-family: Gilroy-Bold;
    }

    @media (min-width:$bp-sm) {
        font-size: 30px;
        margin: 30px 20px;   
    }

    @media (min-width:$bp-md) {
        font-size: 40px;
        margin: 30px 30px;   
    }

    @media (min-width:$bp-lg) {
        font-size: 52px; 
        
    }

    @media (min-width:$bp-xl) {
        font-size: 44px; 
        margin-left: 70px;
    }

    @media (min-width:$bp-xxl) { 
        font-size: 62px;
    }
}

.promo__about {
    width: 100%;
    background-color: $main-color;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 30px 40px 0;
    gap: 30px;

    & h5 {
        color: #FFF;
        text-align: right;
        font-family: Gilroy-Regular;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;

        @media (min-width:$bp-xl) {
            font-size: 32px; 
        }
    }

    @media (min-width:$bp-xxl) {
        padding: 60px 70px 60px 0;
        width: 70%; 
    }
}



.promo__about-social {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    & a {
        width: 50px;
        height: 50px;
    }

}