@import '../abstracts/variables';
@import '../abstracts/mixin';



.team {
    margin-top: 70px;
    position: relative;
    &::before {
        @include line;
        top: -40px;
        @media (min-width:$bp-md) {
            top: -30px;
        }
    }

    @media (min-width:$bp-md) {
        margin-top: 100px;
    }
}
.team__container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-right: 20px;
    padding-left: 20px;
    

    


    @media (min-width:$bp-md) {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 40px;
        padding-right: 30px;
        padding-left: 30px;
        margin-top: 60px;

        & h2 {
            grid-column: 1 / 3;
        }

    }

    @media (min-width:$bp-xl) {
        grid-template-columns: repeat(4, 1fr);
        padding-right: 70px;
        padding-left: 70px;
        margin-top: 100px;

        & h2 {
            grid-column: 1 / 5;
            margin-bottom: 20px;
        }
    }
}

.team__wrapper {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:first-of-type {
        margin-top: 30px;
    }

    @media (min-width:$bp-md) {
        &:first-of-type {
            margin-top: 0;
        }
    }
}

.team__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.team__name {
    color: $text-color;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    @media (min-width:$bp-md) {
        text-align: left;
    }

    @media (min-width:$bp-xl) {
        font-size: 24px;
    }

    @media (min-width:$bp-xxl) {
        font-size: 30px;
    }
}

.team__position {
    color: $text-color;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (min-width:$bp-md) {
        text-align: left;
    }
}

.team__photo {

    & img {
        margin-top: 15px;
        width: 100%;
        height: 507px;
        object-fit: cover;
        filter: grayscale(100%);
    }
}

.team__socials {
    display: flex;
    justify-content: center;
    gap: 10px;

    @media (min-width:$bp-md) {
        justify-content: flex-end;
    }
}

.team__descr {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & h4 {
        color: $text-color;
        text-align: center;
        font-family: Gilroy-Regular;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        @media (min-width:$bp-sm) {
            font-size: 30px;
        }
    }

    & p {
        color: $text-color;
        text-align: center;
        font-family: Gilroy-Bold;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        @media (min-width:$bp-sm) {
            font-size: 40px;
        }
    }

    @media (min-width:$bp-md) {
        grid-column: 1 / 3;
        text-align: left;

        & h4 {
            text-align: left;
        }

        & p {
            text-align: left;
            font-size: 60px;
        }
    }

    @media (min-width:$bp-lg) {

        & p {
            font-size: 64px;
        }
    }

    @media (min-width:$bp-xl) {
        grid-column: 3 / 5;
        align-self: center;

        & p {
            font-size: 40px;
        }

    }

    @media (min-width:$bp-xxl) {

        & p {
            font-size: 64px;
        }

    }
}

.team__text {

    color: $text-color;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @media (min-width:$bp-sm) {
        font-size: 40px;
    }


    @media (min-width:$bp-md) {
        text-align: left;
        font-size: 60px;
    }

    @media (min-width:$bp-lg) {
        font-size: 64px;
    }

    @media (min-width:$bp-xl) {
        font-size: 40px;
    }

    @media (min-width:$bp-xxl) {
        font-size: 64px;
    }
}

.team__btn {
    display: block;
    text-align: center;

    @media (min-width:$bp-md) {
        width: 165px;
    }
}