@import '../abstracts/variables';
@import '../abstracts/mixin';

.what-i-do {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    &::before {
        content: '';
        background-image: url(../../img/what-i-do-bgd.jpg);
        background-position: top;
        background-size: cover;
        height: 478px;
        width: 100%;

        @media(min-width:$bp-md) {
            height: 991px;
            
        }
    }

    @media(min-width:$bp-md) {
        margin-top: 40px; 
    }

    
    

    @media(min-width:$bp-xl) {
        flex-direction: row;
        gap: 50px;
        margin-top: 70px; 
        &::before {
            height: 980px;
            width: 50%;
        }
    }

    @media(min-width:$bp-xxl) {
        gap: 111px;
        &::before {
            width: 980px;
            height: 1095px;
        }
    }


    @media(min-width:$bp-xl) {
        height: auto;
    }

    img {
        width: 100%;
        height: 478px;
        object-fit: cover;

        @media(min-width:$bp-md) {
            height: 991px;
        }

        @media(min-width:$bp-xl) {
            
        }

    }


}



.what-i-do__wrapper {
    display: flex;
    padding: 20px 0 0 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;

    @media(min-width:$bp-xl) {
        gap: 100px;
        width: 759px;
    }

    h2 {
        
        @media(min-width:$bp-xl) {
            font-size: 120px;
            
        }
        @media(min-width:$bp-xxl) {

            font-size: 140px;
        }
    }
    


}


.what-i-do__content-wrapper {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;

    @media(min-width:$bp-xl) {
        gap: 40px;
    }

    @media(min-width:$bp-xxl) {
        gap: 70px;
    }



}

.what-i-do__content {
    color: #000;
    border-bottom: 1px solid $main-color;
    padding-bottom: 30px;

    p {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 10px;
    }

    &:nth-child(1) {
        .what-i-do__title {
            &::before {
                content: '01';
            }
        }
    }

    &:nth-child(2) {
        .what-i-do__title {
            &::before {
                content: '02';
            }
        }
    }

    &:nth-child(3) {
        .what-i-do__title {
            &::before {
                content: '03';
            }
        }
    }

    &:nth-child(4) {
        .what-i-do__title {
            &::before {
                content: '04';
            }
        }
    }
    &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.what-i-do__number {
    font-family: Gilroy-Light;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;

    @media(min-width:$bp-md) {
        font-size: 44px;
    }
}


.what-i-do__title {
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;

    &::before {
        color: #000;
        font-family: Gilroy-Light;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
    }


    @media(min-width:$bp-md) {
        font-size: 44px;

        &::before {
            font-size: 44px;
        }
    }

}