@import '../abstracts/variables';


.work {
    margin-top: 50px;
    position: relative;
    &::before {
        @include line;
        top: -30px;
    }

    @media (min-width:$bp-md) {
        margin-top: 70px; 

        &::before {
            top: -40px;
        }
    }

    @media (min-width:$bp-xl) {

        &::before {
            top: -70px;
        }
    }

    @media (min-width:$bp-xxl) {
        margin-top: 140px; 

        &::before {
            top: -140px;
        }
    }
}

.work__list {
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;

    @media (min-width:$bp-sm) {
        padding-right: 30px;
        padding-left: 30px;
    }
     @media (min-width:$bp-lg) {
        row-gap: 30px;
    }

    @media (min-width:$bp-xl) {
        grid-template-columns: repeat(3, 326px);
        grid-template-rows: 326px;
        column-gap: 40px;
        row-gap: 70px;
        margin-top: 50px;
    }

    @media (min-width:$bp-xxl) {
        margin-left: auto;
        margin-right: auto;
        max-width: 1920px;
        padding-right: 70px;
        padding-left: 70px;
        grid-template-columns: repeat(3, 567px);
        grid-template-rows: 567px;
    }

    


}

.work-img {
    width: 100%;
    height: 434px;
    object-fit: cover;
 @media (min-width:$bp-sm) {
        height: 768px;
    }

    @media (min-width:$bp-lg) {
        height: 921px;
    }

    @media (min-width:$bp-xl) {
        height: 326px;
    }

    @media (min-width:$bp-xxl) {
        height: 567px;
    }

    
}

.work-img--mt {
    padding-top: 20px;
    @media (min-width:$bp-md) {
        padding-top: 50px;
    }

    @media (min-width:$bp-xl) {
        padding-top: 0;
    }
}
 .work__descr {
    @media (min-width:$bp-xl) {
        order: -1;
    }
    
} 


.work__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 43px 52px 54px;
    row-gap: 20px;

    @media (min-width:$bp-xl) {
        row-gap: 30px;
        grid-template-rows: 44px 52px 86px 53px;
    }

    @media (min-width:$bp-xxl) {
        grid-template-rows: 44px 52px 327px 53px;
    }

}

.work__info-link {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-self: center;
    
    
}

.work__info-link-item {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    @media (min-width:$bp-xl) {
        gap: 15px;
    }

    @media (min-width:$bp-xxl) {
        gap: 30px;
    }
}

.btn {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    justify-self: end;
    padding-top: 10px;
    @media (min-width:$bp-xl) {
        grid-row: 4 / 5;
    }
}

.all-work-link{
    width: 100%;
    display: block;
    margin-top: 40px;

    @media (min-width:$bp-md) {
        width: 187px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width:$bp-xl) {
        margin-top: 70px;
    }
}
